.d-flex{
    margin-left: 10px;
}
.navbar-brand{
  font-family: 'Readex Pro', sans-serif;
    color:#ffffffff;
    font-size: 30px;
}
.nav-link{
  font-family: 'Montserrat', bold;
  color: #EDE7F6;
}

.navbar{
  background-color: #6761e2ab;
}
.btn{
  font-family: 'Readex Pro', sans-serif;
  background-color: #06ffeeb9;
  color: #ffffff;
}
.dropdown ngx-avatar{
  margin-right: 10px;
  font-family: 'Readex Pro';
}
.dropdown strong{
  font-family: 'Readex Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
}

.area{
  width: 300px;
  height: 500px;
  font-size: 10px;
  overflow: scroll;
}

.lead{
  font-size: 15px;
}
.dropdown i{
  margin-right: 5px;
}