
            <!-- Sidebar-->
            <div class=" row border-end text-ligth" id="sidebar-wrapper" >
                <div class="list-group bg-dark text-light border-white col-4" style="height: 800px; color: aliceblue; ">
                    <a id="item" class="list-group-item list-group-item-action list-group-item-ligth text-light bg-dark p-3" ></a>
                    <a id="item" class="list-group-item list-group-item-action list-group-item-light text-ligth bg-dark  p-3" (click)="GestionEmpleados()">Gestion empleados</a>
                    <a id="item" class="list-group-item list-group-item-action list-group-item-light text-ligth bg-dark  p-3" (click)="RegistroReuniones()">Registro reuniones</a>
                   
                    <a id="item" class="list-group-item list-group-item-action list-group-item-light text-ligth bg-dark  p-3" href="#!">Busqueda Avanzada</a>
                   
                    <a id="item" class="list-group-item list-group-item-action list-group-item-light text-ligth bg-dark  p-3" (click)="Estadistica()">Estadisticas</a>
                  
                </div>
                <div class="col-7">
                <div class="row d-flex ">
                    <div class="card col-6" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-6" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="card col-6" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                    <div class="card col-6" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<p>principal-admi works!</p>